.gallery-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

/* gallery-item */

.gallery-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-right: 5px solid #FFFFFF;
    border-bottom: 2px solid #DF2224;
    transition: flex .8s ease-in-out;
}

.gallery-item.active {
    flex: 1;
}

/* other */

.gallery-header-wrapper {
    display: flex;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.gallery-header {
    flex: 1;
    padding: 20px 25px 20px 18px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    color: white;
    border-right: 1px solid #FFFFFF;
    background-image: linear-gradient(#162C4E00, #162C4E);
    cursor: pointer;
    z-index: 1;
}

.gallery-header-id {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
}

.gallery-header-label {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.gallery-body-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: default;
    overflow: hidden;
}

.gallery-body {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.gallery-body-info {
    position: relative;
    padding: 0 66px 50px 42px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    background-color: rgba(18, 18, 18, 0.93);
}

.gallery-body-info-id {
    position: absolute;
    top: 0;
    left: -100px;
    font-size: 380px;
    font-weight: 600;
    line-height: 380px;
    letter-spacing: -0.03em;
    text-align: right;
    color: rgba(255, 255, 255, 0.06);
}

.gallery-body-info-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
}

.gallery-body-info-date {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.gallery-body-stub {
    flex: 1;
}

/* animations */

@keyframes slideInWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideOutWidth {
    100% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* responsive */
@media screen and (max-width: 1500px) {
    .gallery-wrapper {
        flex-direction: column;
    }

    .gallery-item {
        flex-direction: column-reverse;
        border-bottom: 4px solid #FFFFFF;
    }

    .gallery-item.active {
    }

    .gallery-item.active .gallery-header {
        border-bottom: none;
    }

    .gallery-item:last-of-type .gallery-header {
        border-bottom: none;
    }

    .gallery-header-wrapper {
        height: auto;
    }

    .gallery-header {
        padding: 26px 40px;
        flex-direction: row;
        align-items: center;
        border-right: none;
        border-bottom: 2px solid #DF2224;
        background-image: linear-gradient(to right, #162C4E, #162C4E00);
    }

    .gallery-header-id {
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
    }

    .gallery-header-label {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

/*    */
    .gallery-body-wrapper {
        position: relative;
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        cursor: default;
        overflow: hidden;
        transition: min-width .8s ease-in-out;
    }

    .gallery-item.active .gallery-body-wrapper {
        min-height: 460px;
    }

    .gallery-body {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }

    .gallery-body-info {
        padding: 25px 40px;
        flex-direction: column;
        align-items: flex-start;
    }

    .gallery-body-info-id {
        top: 14px;
        right: -10px;
        left: auto;
        font-size: 80px;
        font-weight: 600;
        line-height: 80px;
    }
}

@media screen and (max-width: 567px) {
    .gallery-header-id {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
    }

    .gallery-header-label {
        font-size: 18px;
        line-height: 18px;
    }

    .gallery-body-info-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }

    .gallery-body-info-date {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
}
