.more-info-button-wrapper {
    padding: 20px 56px;
    border: 2px solid #FFFFFFCC;
    border-left: 8px solid #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.03em;
    text-align: left;
}

.more-info-button-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.31);
    cursor: pointer;
}
